h1 {
    color: blue;
  }
  h2 {
      color: blue;
  }
  p {
    color: rgba(8, 5, 7, 0.89);
    
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: left;
  }
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    color: rgb(251, 251, 253);
  }
  html {
    background-color: #060708;
   }
   div {
    text-align: center;
  }
  img {
    width: 300px;
    }
  
  video {
    margin: auto;
}